.container {
  margin-top: 100px;
  height: 79.3vh;
}

.contactDetail {
  margin: 10px auto;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  padding: 30px 50px;
}

.contactDetail h3 {
  font-size: 25px;
  font-weight: 500;
  color: grey;
  margin-top: 0;
}

.contactWays {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactWays img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
